
body {
  color: #61443e;
  font-family: Monospace;
  font-size: 13px;
  text-align: center;

  background-color: #bfd1e5;
  margin: 0px;
  overflow: hidden;
}



#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}


.help {
  margin: 0px;
  overflow: hidden;
  position:fixed;
  width:100%; /*width:300px;*/
  height:100%; /*height:100vh;*/
  background-color:rgba(255,255,255,0.4);
  z-index:10;
}

